* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body {
    display: flex;
    flex-direction: row;
}

.border {
    min-width: max(0px, calc((100vw - 700px)/2));
}

#main-body {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    /* background-color: red; */
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    min-height: 36px;
    /* background-color: green; */
}

#title-space {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;

    height: 100%;
    /* background-color: purple; */
}

#nav-space {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: 0;

    height: 100%;
    /* background-color: aqua; */
}

#title-text {
    white-space: nowrap;
    font-size: 18px;
    font-weight: normal;
}

.nav-button {
    border: none;
    background-color: white;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.hspace {
    width: 10px;
    height: 100%;
}

.v30 {
    width: 100%;
    height: 30px;
    /* background-color: blueviolet; */
}

.v10 {
    width: 100%;
    height: 10px;
}


main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-grow: 1;
    /* background-color: black; */
}

#about-top {
    display: flex;
    flex-direction: row;

    height: min(280px, 40vw);
    width: 100%;
}

.about-hgap {
    width: 10px;
    height: 100%;
}

#profile-pic {
    width: min(280px, 40vw);
    height: min(280px, 40vw);
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
}

#bio-space {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: min(390px, calc(60vw - 30px));
    height: min(280px, 40vw);
}

@media (max-width: 550px) {
    #about-top {
        flex-direction: column;
        /* align-items: center; */
        /* align-content: flex-start; */

        width: 100%;
        height: 100%;
    }

    #profile-pic {
        margin-left: 10px;
    }

    #bio-space {
        width: 100%;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .about-hgap {
        width: 100%;
        height: 10px;
    }
}